@{
    ViewBag.Title = "WebRTC Video Caller";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WebRTC Video Caller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <link href="/Content/Content/icomoon/style.css" rel="stylesheet" />
    <link href="/Content/Content/Site.css" rel="stylesheet" />
    <link href="/Content/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Content/alertify/alertify.rtl.css" rel="stylesheet" />
    <link href="~/Content/Content/alertify/default.rtl.css" rel="stylesheet" />
    <link href="~/Content/Content/alertify/semantic.rtl.css" rel="stylesheet" />
    <link href="~/Content/Content/alertify/bootstrap.rtl.css" rel="stylesheet" />

    <link href="~/Content/css-circular-prog-bar.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />

    @*<link href="/Content/Content/alertify/alertify.core.css" rel="stylesheet" />
        <link href="/Content/Content/alertify/alertify.default.css" rel="stylesheet" />*@

    @*<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>

        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>*@

    <link href="~/Content/Content/chatStyle.css" rel="stylesheet" />
    <link href="~/Content/Content/userDisplay.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Libs -->
    <link href="~/Content/css-circular-prog-bar.css" rel="stylesheet" />
    <script src="/Scripts/Scripts/adapter.js"></script>
    <script src="/Scripts/Scripts/jquery-1.7.1.js"></script>



</head>

<body data-bind="attr: { 'data-mode': Mode }" style="text-align:right">
    <!-- Invalid browser alert, and reminder to enable media things -->
    @*<div class="container-fluid">
            <div class="row-fluid instructions">
                <div class="span12">
                    <div class="alert"><h4>توجه!</h4> مرورگر مجوز وب کم و میکرفون را لازم دارد  <strong>امکانات سایت تنها با ارائه مجوز از طرف شما قابل ارائه می باشد</strong>.</div>
                </div>
            </div>
            <div class="row-fluid browser-warning">
                <div class="span12">
                    <div class="alert alert-error"><h4>شما باید از آخرین نسخه مرورگر کروم یا فایر فاکس استفاده کنید</h4>  <a href="https://nightly.mozilla.org/">آخرین نسخه فایرفاکس</a>، <a href="https://www.google.com/intl/en/chrome/browser/beta.html">آخرین نسخه کروم</a> </div>
                    <div class="alert alert-error"><h4>شما باید از آخرین نسخه مرورگر کروم یا فایر فاکس استفاده کنید</h4>  <a href="https://nightly.mozilla.org/">آخرین نسخه فایرفاکس</a>، <a href="https://www.google.com/intl/en/chrome/browser/beta.html">آخرین نسخه کروم</a> </div>
                </div>
            </div>
        </div>*@
    <!-- Top Bar -->
    <div class="navbar navbar-inverse navbar-fixed-top" style="position:relative">
        <div class="navbar-inner">
            <div class="container-fluid" style="display:flex">

                @*<span class="loading-indicator icon-spinner-3" data-bind="css: { on: Loading }"></span>*@
                <span style="margin:10px auto; ">

                    @*<i id="pwd_spn" style="display:none; color:white; margin-top:10px">https://lecture.sup-ect.ir/screen/userface?groupname=<span data-bind="text:  Groupname"></span></i>
        <button id="cp_btn" class="btn btn-success">آدرس اتصال</button>*@
                    <button style=" display:none;border-radius:10px;" class="btn btn-danger hangup"><i class="fa fa-power-off"></i> </button>
                    <button style=" display:inline-block; border-radius:10px; outline:none" class="btn btn-success chat"><i class="fa fa-comment"></i> </button>


                    @*<script>
            document.getElementById("cp_btn").addEventListener("click", copy_password);
            function copy_password() {
                var copyText = document.getElementById("pwd_spn");
                var textArea = document.createElement("textarea");
                textArea.value = copyText.textContent;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand("Copy");
                textArea.remove();
                alertify.success("آدرس اتصال کاربر کپی شد");
            }
        </script>*@
                </span>
                <div class="">
                    <p class="navbar-text pull-right">

                    </p>
                </div>
            </div>
            <div id="cameraSection" class="container-fluid " style="display:none;padding:10px;">
                <div class="select" style="margin:0px">
                    <label for="audioSource" style="width:100%; color:white; margin:10px; direction:rtl; float:right;width:100%;">صدا :</label><select id="audioSource" class="form-control" style="width:100%;"></select>
                </div>

                <div class="select" style="margin:0px">
                    <label for="videoSource" style="width:100%;color:white; margin:10px; direction:rtl; float:right"> تصویر : </label><select id="videoSource" class="form-control" style="width:100%;"></select>
                </div>
            </div>
        </div>
    </div>
    <!-- App Area -->
    <div class="" style="text-align:right; width:100%; ">
        <div class="">

            <div id="BothContainer" class="" style="">
                <div id="vidoeHolder" class="" style="background-color:black">

                    <div class="mineholderAfter" style="">


                        <audio style="display:none" controls autoplay class="audio mine"></audio>
                    </div>
                    @*<div class="mineholderScreenAfter">
                            <video controls style=" width:100%;" id="0" class="video screen cool-background" autoplay="autoplay" muted></video>

                        </div>*@
                    <div id="videoHolder" class="partnerholder" style=" ">
                        <div class="master">
                            <div class="mainholder" style="height:100%; width:100%; display:flex;float:left">
                                <video controls id="main0" style="width:auto ; height:100%; margin:auto" class=" cool-background" autoplay="autoplay"></video>
                                <video muted  id="1" class="video mine cool-background slaveVideo" autoplay="autoplay"></video>  @*onclick="changeStream(this.id)*@

                            </div>
                           
                        </div>
                        <div class="slave" style=" ">
                           
                        </div>

                        <div class="slave">
                            <video muted controls style=" display:none " class="video partner3 cool-background" autoplay="autoplay"></video>

                        </div>
                    </div>
                    @*<div class="partnerholder2">
                            <video controls class="video partner2 cool-background" autoplay="autoplay"></video>

                        </div>*@




                </div>
                <div id="chatHolder">



                    <audio id="song" src="~/Kalimba.mp3"></audio>


                    <script>

                    </script>
                    @*<div class="well user-list" style="position:relative; display:none">
                            <i style="position:absolute; top:10px ; left :10px ;" id="refresh" class="fa fa-refresh"></i>
                            <ul class="nav nav-list">
                                <li class="nav-header">کاربران آنلاین <small data-bind="text: Users().length"></small></li>
                                <!-- ko foreach: Users -->
                                <li class="user">
                                    <div class="row" style="margin-bottom:10px">
                                        <a data-bind="attr: { 'data-cid': ConnectionId, 'title': Username }" href="#" style="width:80%; display:inline-block; padding:10px 0px 5px 10px">
                                            <!-- only using an a here for bootstrap styling -->
                                            <div class="username" data-bind="text: Username"></div>
                                        </a>
                                        <div class="row">
                                            <p data-bind="attr: { 'data-cid': ConnectionId, 'title': Username }" class="btn btn-danger userHangup" style="display:inline-block; float:right; margin-left:10px">قطع</p>
                                            <p data-bind="attr: { 'data-cid': ConnectionId, 'title': Username }" class="btn btn-success oneWay" style="display:inline-block; float:right;margin-left:10px">یک طرفه</p>
                                            <p data-bind="attr: { 'data-cid': ConnectionId, 'title': Username }" class="btn btn-success screen" style="display:inline-block; float:right;margin-left:10px">اسکرین</p>
                                            <p data-bind="attr: { 'data-cid': ConnectionId, 'title': Username }" class="btn btn-success webcam" style="display:inline-block; float:right;margin-left:10px">وب کم</p>

                                        </div>

                                    </div>

                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>*@
                    <div id="frame">

                        <div class="content">
                            <div class="contact-profile">
                                <i class="fa fa-user"></i>
                                @*<p id="chatname"></p>*@
                                <i style="display: none;float: left;position: absolute;top: 15px;left: 25px;font-size: 32px;" id="backButt" class="fa fa-angle-left"></i>
                                @*<div class="social-media">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>*@
                                <script>
                                    $("#backButt").click(function () {
                                        var id = $("#hiddeninput").val();
                                        var item = $("#" + id);
                                        $("#" + id).remove();
                                        var ul = $(".messages ul");
                                        ul.append(item);

                                        $(this).css("display", "none");
                                        $("ul li").css("display", "none");
                                        $(".mainli").css("display", "block");
                                        $(".num").each(function () {
                                            var text = $(this).text();
                                            if (text != '') {
                                                $(this).css("display", "block")
                                            }
                                        })
                                        $(".message-input").css("display", "none")

                                    })
                                </script>
                            </div>
                            <div id="message" class="messages" style="">
                                <input type="hidden" id="hiddeninput" />
                                <ul>
                                    @*<li class="sent">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                    <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>When you're backed against the wall, break the god damn thing down.</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>Excuses don't win championships.</p>
                </li>
                <li class="sent">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                    <p>Oh yeah, did Michael Jordan tell you that?</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>No, I told him that.</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>What are your choices when someone puts a gun to your head?</p>
                </li>
                <li class="sent">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                    <p>What are you talking about? You do what they say or they shoot you.</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
                </li>*@
                                </ul>


                            </div>
                            <span id="clicks" style="display:none;  width: 100%; bottom: 45px;position: absolute;left: 10px;">
                                <img src="/images/redbutt.png" style=" float: left;">
                            </span>
                            <div class="message-input">
                                <div class="wrap">
                                    <button id="recodrdVoice" style="float:left"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                                    <input id="chatMessage" type="text" placeholder="پیام خود را بنویسید" style="text-align:right" />
                                    <button id="attach" class="attachment"> <i class="fa fa-paperclip " aria-hidden="true"></i></button>
                                    <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                    <input id="fileupload" type="file" style="display:none" />
                                </div>
                            </div>
                            <style>

                                #chatMessage2 {
                                    border: none;
                                    width: 100%;
                                    -webkit-box-shadow: none;
                                    border: none;
                                    padding: 0px 10px;
                                    margin: 0;
                                    padding: 5px !important;
                                }

                                    #chatMessage2:focus {
                                        -webkit-box-shadow: none;
                                        border: none
                                    }

                                .thumbHolder {
                                    padding: 15px;
                                    display: flex;
                                    justify-content: center
                                }

                                .thumbItem {
                                    width: 70px;
                                    height: 60px;
                                    object-fit: cover;
                                    text-align: center;
                                    padding: 10px;
                                    background-color: white;
                                    border: 1px solid #ddd;
                                    margin-left: 5px;
                                    font-size: 9px;
                                }
                            </style>
                            <div id="attachmentDiv" style=" z-index:99; background-color:white; margin-bottom:5px;display:none;width: 100%;position: absolute;bottom: 0px;left: 0;text-align: left;border: 1px solid #9d9d9d;height: 100%;">
                                <div style="padding:15px; background-color:aqua; text-align:center; ">پیش نمایش  <i id="removePreview" style="float:right" class="fa fa-remove"></i></div>
                                <div class="imageHolder" style="width:40%; height:40%; object-fit:scale-down;text-align:center; margin:15px auto">
                                    <img id="preview" style="max-height:100%; max-width:100%; " src="#" />
                                </div>
                                <div style="margin:15px auto; width:70%; border-bottom:1px solid aqua; position:relative">
                                    <input id="chatMessage2" placeholder="متن مورد نظر شما" type="text" style="" />
                                    <i class="fa fa-send submit" style="border-radius:50%;padding: 7px;background-color:aqua;color:white;position: absolute;top: 10px;"></i>
                                </div>
                                <div class="thumbHolder">

                                    <div class="thumbItem" id="addItem">
                                        <p style="margin:7px 0">افزودن مورد</p>
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>




    <script src="/Scripts/Scripts/knockout-2.2.1.js"></script>
    <script src="/Scripts/Scripts/knockout.mapping-latest.js"></script>



    @*<script src="/Scripts/Scripts/alertify.min.js"></script>*@
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script src="/Content/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>

    <!-- App JS -->
    <script src="https://cdn.WebRTC-Experiment.com/MediaStreamRecorder.js"></script>
    <script src="/Scripts/Scripts/webrtcdemo/viewModel.js"></script>
    <script src="/Scripts/Scripts/webrtcdemo/connectionManager.js"></script>
    <script src="/Scripts/Scripts/webrtcdemo/app.js"></script>
    <script>
        WebRtcDemo.App.setName('@ViewBag.groupname');
    </script>
    <script>
        window.onload = function () {
            var element = document.getElementById('1');
            //element.muted = "muted";




        }

    </script>
    <script>
        changeStream = function (Click_id) {
            $("video").prop('muted', true);
            $(this).prop('muted', false);
            WebRtcDemo.App.resetStream(Click_id);
        };
        mainliClicked = function (connectionID,name) {



            $('ul li').css("display", "none");
            $("." + connectionID).css("display", "block");
            $("#backButt").css("display", "block");
            $(".num").css("display", "none");
            $("#" + connectionID).css("display", "none")
            $("#" + connectionID).find(".num").text('');
            $("#" + connectionID).find(".num").css("display", "none");

            $(".message-input").css("display", "block");
            WebRtcDemo.App.chatselectedFun(name);
            $("#hiddeninput").val(connectionID);
        };
        downlodIMG = function (element,type) {
            
            let id = element.id;
            var spg = element.parentNode;
            element.style.display = "none";
            
            var xmlHTTP = new XMLHttpRequest();
            xmlHTTP.open('GET', "/files/"+id, true);
            xmlHTTP.responseType = 'arraybuffer';
            xmlHTTP.onload = function (e) {
                var blob = new Blob([this.response]);
                let els = spg.getElementsByClassName('progress-circlle');
                Array.prototype.forEach.call(els, function (el) {
                    // Do stuff here
                    el.remove();
                });

                if (type == 1) {
                    var imagtag = spg.getElementsByTagName('img')
                    console.log(imagtag)
                    imagtag[0].src = window.URL.createObjectURL(blob);
                }
                else {
                    var imagtag = spg.getElementsByTagName('audio')
                    console.log(imagtag)
                    imagtag[0].src = window.URL.createObjectURL(blob);
                }
               
                //thisImg.src = window.URL.createObjectURL(blob);
            };
            xmlHTTP.onprogress = function (e) {
               
               
                let percent_complete = parseInt((e.loaded / e.total) * 100);

                let classname = '';
                if (percent_complete >= 50) {
                    classname = 'over50';
                }
                let srt = `<div style="z-index:99; top:50%; left:50%; transform :translate(-50%, -50%);" class="progress-circlle ` + classname + `  p` + percent_complete + ` "><span>` + percent_complete + `%</span><div class="left-half-clipper"><div class="first50-bar"></div><div class="value-bar"></div></div></div>`;
               

                let els =  spg.getElementsByClassName('progress-circlle');
                Array.prototype.forEach.call(els, function (el) {
                    // Do stuff here
                    el.remove();
                });
                
                spg.insertAdjacentHTML('beforeend', srt );
            };
            xmlHTTP.onloadstart = function () {
               // thisImg.completedPercentage = 0;
            };
            xmlHTTP.send();
        }


    </script>

    <!-- Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38670464-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        downlodFile = function (element) {
            var id = element.id;
            window.location.href = "/screen/GetFileAsync?fileId=" + id;
        }
    </script>
</body>
</html>